.section {
    margin: 5px;
    padding: 2px;
    border: 1px solid #999;
    background-color: #fafafa;
    color: #555;
    font-size: 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.individual {
    background-color: #89E894;
}

.relation {
    background-color: #EFBC70;
}

.collection {
    background-color: #78D5E3;
}

.microtheory {
    background-color: #E3DE78;
}

.symbolscollection {
    margin: 0px 2px 0px 2px;
    padding-left: 2px;
    display: inline-block;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    background-color: #efefef;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

a {
    text-decoration: none;
}

a:hover {
    color: navy;
    -webkit-transition: color .5s ease-in;
    -moz-transition: color .5s ease-in;
    -o-transition: color .5s ease-in;
    transition: color .5s ease-in;
}

.name {
    font-weight: bold;
}

.apptitle {
    margin: 5px;
    padding: 2px 7px 2px 7px;
    /*background-color: #fafafa;*/
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(190, 200, 220, 0.25)), to(rgba(255, 255, 255, 0.25)));
    font-family: Graublau Sans Web, Lucida Grande, sans-serif;
    font-size: 20px;
    text-shadow: rgba(64, 64, 64, 0.5) 1px 1px 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
