<div style="font-size:small;">
  <span id="symbol_name"><%= @symbol %></span>
  -
  <span id="symbol_comment"><%= @comment %></span>

  <div>
    Generalize - 
    <% for genls in @all_genls %>
        <span>   <%= genls %> </span>
    <% end %>

  </div>
</div>
