%div
  .section
    %span.name=@symbol
    = @comment.gsub(/#\$[\w|-]+/) { |c| "<a href=\"\">#{c[2..-1]}</a>" }
  .section
    %span.name Generalize
    - for genls in @all_genls
      %a{:href => "#"}=genls
