%div{:id => @symbol}
  #comment.section
    %span.name=@symbol
    = format_comment @comment
  #generalize.section
    %span.name Generalize
    = format_all_genls @all_genls
  #specification.section
    %span.name Specification
    = format_all_genls @max_specs
