%div{:id => @name}
  #comment.section
    %span.name=@name
    = format_comment @comment
  #generalize.section
    %span.name Generalize
    = format_all_genls @all_genls
  #specification.section
    %span.name Specification
    = format_all_genls @max_specs
