<div style="font:12px tahoma,arial,sans-serif;">
  <span id="symbol_name"><%= @symbol %></span>
  -
  <span id="symbol_comment"><%= @comment %></span>

  <div>
    Generalize - 
    <% for genls in @all_genls %>
        <a href=""><%= genls %></a>&nbsp;
    <% end %>

  </div>
</div>
